[2012-03-13 00:22] electrum opened #1 "Release project"
Please release this project and it's dependency, jnr-enxio.  We are using it as a dependency in our own project that we would like to release soon.

[2013-08-02 18:57] headius opened #4 "Make it possible to construct a UNIXSocket or server with existing fd"
For jruby/jruby#940, we need a factory method or constructor method exposed that can take an existing fd.

[2013-09-28 02:15] monsanto opened #5 "Extend abstract Java socket classes"
It's difficult to use this library in conjunction with the rest of the Java ecosystem because the standard abstract socket classes are not implemented. Was there a specific reason this isn't done? In other words, if I tried to do this myself, is there something non-obvious that would block me?

For reference, http://code.google.com/p/junixsocket/ supports the non-NIO socket interfaces.

[2014-09-07 18:43] vanore opened #6 "Add support for peer credentials (SO_PEERCRED)"
I've been working on adding this to jnr-unixsocket. I have a candidate ready, which I'll send as a pull request. Please let me know if it's acceptable to you. One thing I'm not sure about is your preferred handling of the feature being unsupported. In the current code, I am using UnsupportedOperationException for this case.

[2014-11-09 11:19] marschall opened #9 "UnixSocketChannel#stateLock is not used"
`UnixSocketChannel#stateLock` is not used. It certainly isn't need for things like `#isConnected` but things like `#finishConnect` don't look particularly thread-safe. Concurrent access to `#state` seems to be possible since it's marked `volatile`.

[2015-03-18 02:25] monsanto commented on #5
Cleaning up my issues, also I don't think the project maintainers care

[2015-03-18 03:26] softprops commented on #5
For what its worth I gave this a shot. It was kind of an ugly hack but it worked for what I needed. https://github.com/softprops/unisockets

[2015-03-18 12:34] headius commented on #5
Wow, I never even noticed people had filed issues here. Reopening...seems like a good idea.

[2015-03-18 12:35] headius commented on #1
Long since completed.

[2015-03-18 12:35] #1 closed

[2015-03-18 12:37] headius commented on #5
@softprops Do you think you could contribute your socket impls back to this project? If I were to start implementing it myself right now it probably would just come out like yours.

[2015-03-18 14:03] headius commented on #6
Fixed by #7.

[2015-03-18 14:03] #6 closed

[2015-03-18 14:14] headius commented on #5
@monsanto We definitely do care...I apologize for not seeing this issue for so long!

[2015-04-15 20:56] marcomorain opened #14 "Can't write and read from a socket at the same time"
I've writing a Clojure wrapper for [Watchman](https://github.com/facebook/watchman) at [marcomorain/clj-watchman](https://github.com/marcomorain/clj-watchman) using jnr-unixsocket, and I've run into a problem that I was hoping you could help with @headius.

Watchman is a program that allows the user to set a watch on a directory, and it will alert the user when a file has changed.

You issue comma

[2015-07-28 20:46] longtimeago opened #16 "Bind failed: Address already in use if file was created by TemporaryFolder rule"
Good day!
Trying to use one of examples in unit test.
[code]
So, if file is created by line 2 - all is fine, no exceptions.
If I comment line 2 and uncomment line 1 there is and exception on line 3
[code]
Do I miss something important?

Thank you!

[2015-09-25 07:02] gregw opened #19 "UnixSocketAddress toString problem"
Using the TestClient and TestServer on
[code]

on the client, printing out address correctly results in:
[code]

but on the server, if you print out the address from
[code]
you get output like:
[code]

[2015-09-25 07:07] gregw commented on #19
Note that getLocalSocketAddress() provides a correct address (which should be the same as the remote??)

[2015-10-23 03:39] gregw opened #21 "Can't interrupt blocking accept"
A blocking call to accept cannot be interrupted, not even if the channel is closed.   This is demonstrated by the following code:

[code]

[2015-11-17 16:57] yuanwang-wf opened #22 "support for SOCK_DGRAM"
is there any plan to support DGRAM socket

[2015-11-24 01:10] mrbrdo commented on #4
@headius need this for `spring` to work... I can't invoke the `fd, opts` constructor from JRuby. I wasn't even able to do it with `getDeclaredConstructor` (maybe some derp), but I finally managed to totally hack it with `getDeclaredConstructors`. So I know in fact it will work (tested it), just need to expose it to JRuby and use it for `UNIXSocket.for_fd`.

[2015-11-24 14:56] headius commented on #4
I'll get something basic in today so we can release this and you can update jruby/jruby#449 to use it.

[2015-11-24 17:05] #4 closed

[2015-11-24 18:41] headius commented on #4
jnr-unixsocket 0.10 is released. It will be incorporated into JRuby 9.0.5.0 and is already being used on JRuby master.

[2016-02-03 16:35] felfert commented on #21
AFAIK, This is the documented behaviour of java.nio.channels.spi.AbstractInterruptibleChannel.
You need to use begin()/end() pairs, if you want to interrupt the thread.
See https://docs.oracle.com/javase/7/docs/api/java/nio/channels/spi/AbstractInterruptibleChannel.html#be

[2016-02-29 15:19] gregw commented on #21
@felfert but begin/end are protected methods, so I can't call them directly.  Surely it is the JNR implementation of UnixServerSocketChannel#accept that should be calling them?

[2016-02-29 15:21] gregw commented on #21
Specifically, shouldn't [this line](https://github.com/jnr/jnr-unixsocket/blob/master/src/main/java/jnr/unixsocket/UnixServerSocketChannel.java#L56) be wrapped in begin/end pairs?

[2016-03-08 15:18] headius commented on #22
There's no plan, but I want to do so. Can you help?

[2016-03-08 15:19] headius commented on #21
@gregw I think you're right. Can you help us patch this?

[2016-03-08 15:21] headius commented on #19
Nice...some encoding problem with the test on the server. Perhaps it's trying to treat UTF-8 bytes as though they were UTF-16 or vice versa?

[2016-03-08 15:21] yuanwang-wf commented on #22
yes, I can send a pull request for that, just my C/ Unix skill is not great.

[2016-03-08 15:22] headius commented on #19
Nice...some encoding problem with the test on the server. Perhaps it's trying to treat UTF-8 bytes as though they were UTF-16 or vice versa?

[2016-03-08 15:23] headius commented on #16
The file needs to be new for the server, or it will give you this error. If our tests don't do that, they should...and we'd appreciate a PR :-)

[2016-03-08 15:23] #16 closed

[2016-03-08 15:28] headius commented on #14
Sorry for the delay on this...I only recently fixed my mail so I'd see JNR github traffic :-\

It appears that these locks are in the NIO subsystem and may not be easy for us to eliminate. I do notice that you're using the stream wrappers from JDK, which appear to have many of their own locks. If you need to be doing concurrent IO, wouldn't it be best to go directly to the Channel? I don't know if

[2016-03-08 15:28] headius commented on #9
I think you're right. Want to try to help us tidy this up?

[2016-03-08 15:29] headius commented on #5
One more ping to see if there's user interest in getting this done...

[2016-03-08 15:29] headius commented on #22
@yuanwang-wf Give it a shot, we'll work through it together :-)

[2016-03-09 06:24] marschall commented on #9
Sure. How fancy do you want the solution to be? Options:
1. All state access synchronizes on `#stateLock`, remove the `volatile`
2. Like 1. but replace Object and `synchronized` with a `java.util.concurrent.locks.Lock`
3. Only synchronize the write access and calls to `#doConnect`, keep the `volatile` for reads. It is my understanding that as of Java SE 5 and the new memory model this should be sa

[2016-03-09 18:25] gregw commented on #21
@headius #25 is a PR that adds begin/end calls.    It makes it a little bit better, but doesn't generally fix the problem? At least not on `Linux Tile440 4.2.0-30-generic #36-Ubuntu SMP Fri Feb 26 00:58:07 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

[2016-03-10 06:52] marschall commented on #9
4. Use a `java.util.concurrent.locks.ReadWriteLock`

[2016-03-10 16:31] headius commented on #9
I think we'd want to use OpenJDK's implementations of SelectableChannel as our guide, specifically SocketChannel and its sub/superclasses. A read/write lock may be the most robust option, but the API contract calls for a synchronizable lock...unsure how that would work together.

[2016-03-10 18:44] marschall commented on #9
Uhm, the way I read it `SocketChannel` calls for a synchronizable lock for the `configureBlocking` and `register` methods. I don't see a contradiction when some internal state is protected differently.

[2016-03-11 14:15] headius commented on #9
@marschall Sounds good then...proceed however you see fit and we'll iterate on a PR!

[2016-03-14 19:12] headius opened #29 "Use jnr-ffi function to get platform-specific C library name"
This change in jnr-enxio shows how we'd like to start getting the C library, as a utility of jnr-ffi: https://github.com/jnr/jnr-enxio/issues/12

We need to do the same in jnr-unixsocket.

[2016-05-30 19:41] gesellix commented on #5
@headius I guess there is some interest :-)

[2016-05-31 15:43] headius commented on #5
@gesellix Well, perhaps we can duplicate what @softprops did?

[2016-06-01 09:42] normanmaurer opened #31 "UnixServerSocketChannel.accept() should return null in non-blocking mode"
`UnixServerSocketChannel.accept()` should return null in non-blocking mode when there are no more client channels to accept. At the moment it throws a Exception which is wasteful as this is expensive.

https://github.com/jnr/jnr-unixsocket/blob/master/src/main/java/jnr/unixsocket/UnixServerSocketChannel.java#L59

[2016-09-28 22:04] #9 closed

[2016-09-28 22:04] headius commented on #9
Thanks, @marschall!

[2016-09-28 22:08] headius commented on #29
This was closed in error.

[2016-09-28 22:13] #29 closed

[2016-09-28 22:14] headius commented on #31
Agreed. Fixing. PR a test for me?

[2016-09-28 22:19] #31 closed

[2016-09-28 22:38] headius commented on #21
Fix this for 0.14.

[2016-09-28 22:40] headius commented on #19
Actually, I think this was fixed by 75e0a70091c1d63416b9e13c3f8eba8210266efa.

[2016-09-28 22:40] #19 closed

[2016-09-28 22:41] headius commented on #14
Dig into this for 0.14. Can you help? Still out there?

[2016-09-28 22:41] headius commented on #5
👍  Let's do it for 0.14 finally. Help?

[2016-09-28 22:42] headius commented on #22
@yuanwang-wf Still out there?

[2016-09-28 22:46] marcomorain commented on #14
Hi! I'm still out here 😀

I have not touched the project since opening this, so this issue doesn't really affect me.

Let's close this issue, and if I get time I can try your suggestions and re-open if that doesn't fix it.

Thanks for the awesome project.

[2016-09-28 22:46] #14 closed

[2016-09-29 06:09] gesellix commented on #5
@headius I guess I won't be of any help, but I know that the folks at https://github.com/docker-java/docker-java are interested in a solution. Maybe they can help testing?

[2016-09-29 06:55] headius commented on #5
@gesellix That sounds great! Do you know anyone we can @ to get them in here?

[2016-09-29 07:30] gesellix commented on #5
@headius the driving force behind Docker-Java are @marcuslinke and @KostyaSha. @normanmaurer also makes sense to be included in the conversation.

To give you a bit more context: Docker-Java wants to support Unix sockets via Netty, which doesn't seem to be easy on OS X. Related issues are:
- https://github.com/docker-java/docker-java/issues/537#issuecomment-244537677
- https://github.com/netty/net

[2016-09-29 08:32] marcuslinke commented on #5
Hi, I'm not really good in this NIO stuff... However, I tried to adopt @softprops code to make it work with netty in the context of docker-java (https://github.com/docker-java/docker-java/blob/netty-unixsocket-experiment)

I've modified `jnr.enxio.channels.NativeSocketChannel` to inherit `java.nio.channels.SocketChannel` and modified `jnr.unixsocket.UnixSocketChannel` to extend it:

   https://git

[2016-09-29 19:02] yuanwang-wf commented on #22
@headius yes

[2016-09-30 15:39] headius commented on #5
@marcuslinke I'd love to see PRs for both of those!

[2016-09-30 16:04] marcuslinke commented on #5
@headius Should I rename these classes in the PR or should both replace the existing implementations? Sorry for asking but I don't fully understand the whole NIO class hierarchy and their detailed meaning.

[2016-09-30 16:08] headius commented on #5
Actually it occurs to me these might not be the right classes...I'll have a look into this myself using your fork as a guide.

[2016-09-30 16:47] headius commented on #5
Ok, I started looking into it, and this is a bit of a challenge to do right.

First off, extending SocketChannel brings in a lot of methods that don't make sense with the way jnr-enxio is structures. Specifically, enxio expects you to pass in an already-connected socket fd, so bind, connect, isConnected and so on don't make sense. This also means that constructors and methods that take a SocketAdd

[2016-09-30 16:48] headius commented on #5
Here's what I came up with, similar to @marcuslinke's version: https://gist.github.com/headius/8eba1c78feeea8c76b0ae624839eb7a6

[2016-09-30 17:43] KostyaSha commented on #5
👍 everybody deal with it enough!

[2016-09-30 19:20] marcuslinke commented on #5
@headius In my original code the `NativeSocketChannel` class was changed to be abstract so an extendig class has to implement those missing methods from `SocketChannel`. `UnixSocketChannel` does so - at least it provides the connection logic. I think `NativeSocketChannel` must be abstract or`UnixSocketChannel` should inherit from `SocketChannel` directly.

[2016-09-30 21:05] headius commented on #5
I worry about making NativeSocketChannel abstract, since it breaks a public API. Right now if you want a native socket behavior in NIO you can just stuff any old fd into this. If it's abstract, we'd at least need to provide a non-abstract one that accepts an fd, in which case we'd have to stub out all these same methods anyway.

So at the very least NativeSocketChannel needs to remain concrete, bu

[2016-09-30 21:08] headius commented on #5
Re Java 6: JRuby 1.7.x still supports Java 6 and uses jnr-enxio. JRuby 1.7.x will be EOL around the end of this year.

We could freeze it at an old version, but that's obviously problematic if we need to update enxio before EOL.

[2016-10-01 07:34] marcuslinke commented on #5
@headius I think we should leave `NativeSocketChannel` as is and introduce a new `AbstractNativeSocketChannel` class that extends `SocketChannel`. This way `NativeSocketChannel` (which in fact is a "NativeSelectableChannel" and should be renamed so) haven't implement all those useless methods from `SocketChannel`. WDYT?

[2016-10-03 14:20] headius commented on #5
@marcuslinke Yeah that's kinda how I'm leaning too. The way NativeSocketChannel works doesn't fit very well into SocketChannel due to it just wrapping an already-connected socket file descriptor.

[2016-10-04 15:33] neuhaus opened #32 "add some keywords"
I didn't find this project at first because I was looking for "unix domain sockets" (the official term) and neither the project description nor the README contain this string. `AF_UNIX` is also a good search term.

[2016-10-04 21:01] marcuslinke commented on #5
Started PR here: https://github.com/jnr/jnr-enxio/pull/20

@headius What about `UnixSocketChannel`? I guess the new implementation should replace the existing one, shouldn't it?

[2016-10-05 15:07] headius commented on #5
@marcuslinke Yes, we'd probably want to have UnixSocketChannel extend AbstractNativeSocketChannel, right? NativeSocketChannel would remain a raw fd wrapper for folks that need it, but other socket types (like UnixSocketChannel) would hide that bit behind SocketAddress constructors, etc. You'd still be able to get the fd out and probably pass one directly in, but the preferred way would be SocketAd

[2016-10-05 15:38] headius commented on #32
PR?

[2016-10-06 14:15] neuhaus commented on #32
I don't think you can issue a PR for the project description (which is currently "Unix sockets for java").

[2016-10-06 20:33] marcuslinke commented on #5
OK. I've created another PR for the unix socket stuff: https://github.com/jnr/jnr-unixsocket/pull/33

[2016-10-06 22:38] headius commented on #32
Oh, I thought you meant the README...I'll update the description :-)

[2016-10-06 22:39] headius commented on #32
Not really a release item. Fixed!

[2016-10-06 22:39] #32 closed

[2016-11-02 00:55] felfert commented on #22
This can be closed.
I have implemented everything implemented in #35 together with general refactoring (already functional, yet some set/getOption stuff unimplemented - will do that during the next days ...).

[2016-11-02 15:44] #22 closed

[2016-11-04 11:49] felfert opened #36 "getCredentials should be supported on more platforms"
I just stumbled over this while working on refactoring:

Fetching peer credentials is currently supported on Linux only. This is wrong.

 - On OpenBSD, there is SO_PEERCRED in sys/socket.h as well as a corresponding struct:
[code]

- On OSX and FreeBSD, there is LOCAL_PEERCRED which does something similar. Excerpt from unix(7):
[code]
On all the above platforms, those are restricted to SOCK_STREAM

[2017-01-05 18:01] CodingFabian commented on #5
Just wanted to chime in,
We are actually happy users of http://code.google.com/p/junixsocket/  but from now and then we have some strange issues with the library. In fact we also use it for docker socket reading and we have had customers where the socket just stayed open leaking native memory all over the place.

Reproducing those issues is close to impossible, and I intended to try jnr-unixsocket

[2017-01-05 18:28] CodingFabian commented on #5
oh it looks like this was released already :-) going to try it out

[2017-04-20 17:15] jangbora opened #42 "Infinite NIO selection"
I tried example server on Ubuntu 14.04(Release env) and MacOS(Develop env).

On Mac, NIO selection is wait for asleep until message received.
https://github.com/jnr/jnr-unixsocket/blob/master/src/test/java/jnr/unixsocket/example/UnixServer.java#L47

But on Ubuntu, NIO selection is not blocked and loop infinitely.
https://github.com/jnr/jnr-unixsocket/blob/master/src/test/java/jnr/unixsocket/exampl

[2017-05-11 11:54] gregw opened #43 "Lost connection?"
I'm using `jnr-unix-socket` in the jetty servlet container and am having problem with connect (see https://github.com/eclipse/jetty.project/issues/1281).   In summary, if we have a multiple clients connecting at the same time, sometimes a connection attempt is lost and just hangs.

This can be demonstrated by having two or more shells executing the loop:
[code]
and soon enough all but one will han

[2017-05-11 13:27] gregw commented on #43
I'm going to close this for now, as I tried a simple reproduction based on your example code and it does not fail.  I really can't see what Jetty is doing differently, but until I can prove otherwise I will assume it is either Jetty or curl.   If you have any insights, please comment on the jetty issue.

[2017-05-11 13:27] #43 closed

[2017-10-02 01:19] brettwooldridge opened #44 "Why make Native package access only?"
User's should be free to call ``Native.socket(domain, type, protocol)`` etc. without having to copy the class and modify it.

[2017-11-10 23:30] athanatos opened #48 "channels/Common.java allocates an extra ByteBuffer unnecessarily in read and write"
As far as I can tell, jnr-ffi is fine with array-backed or direct buffers, so we can avoid the extra allocation in those cases.

[2017-11-24 20:29] huntc commented on #48
Amazing, I was just about to raise this same issue!

[2017-12-07 13:37] gregw opened #50 "Async write incorrectly consumes buffer when hitting flow control"
When writing data asynchronously to the point of hitting flow control, the `UnixSocketChannel.write` method correctly returns 0 bytes written, but it incorrectly updates the `ByteBuffer` position so that the bytes are consumed.

The problem is demonstrated by [this class](https://github.com/eclipse/jetty.project/blob/jetty-9.4.x-2014-unixsocket-client/jetty-unixsocket/src/test/java/org/eclipse/jet

[2017-12-07 13:46] gregw commented on #48
Note also that the copy in write is implemented incorrectly for asynchronous writes, as it consumes the passed buffer even if not all of the data is written.  See #50

[2017-12-07 13:48] gregw commented on #50
The problem is at https://github.com/jnr/jnr-unixsocket/blob/master/src/main/java/jnr/enxio/channels/Common.java#L99

The passed buffer is consumed even if not all the data is eventually written.  Either the copy should be avoided (see #48 ) or at least the position should be updated using the number of bytes actually written.

[2017-12-30 20:23] krisskross opened #52 "Closing/interrupting UnixServerSocket"
I haven't found a way of shutting down a UnixServerSocket that's waiting for incoming sockets in accept(). It also doesn't respond thread interrupts?

[2018-02-24 21:51] lihaoyi opened #53 "Blocking reading from a UnixSocketChannel blocks writes"
The following code sends `hello` from a client thread to a server thread over a `UnixSocketChannel`, and the server prints out the character codes (pardon my Scala)

[code]

If you uncomment the ` new Thread(() => println(in.read())).start()`, the `out.write("hello\n".getBytes)` appears to never make it to the `server` thread, and nothing is printed. It appears blocking on the `UnixSocketChannel`'

[2018-03-19 18:55] nicmichael opened #54 "setsockopt/getsockopt not working correctly on Intel processors"
Integer values passed to setsockopt calls and retrieved from getsockopt calls are converted between Java and native code using ByteOrder.BIG_ENDIAN in Native.java, which results in incorrect values being passed for little-endian CPU architectures such as Intel processors.

For example, we were invoking
`UnixSocketChannel.setOption(UnixSocketOptions.SO_SNDBUF, 262144);`
... which ends up calling
`N

[2018-03-23 16:25] leifwalsh commented on #21
I think the way to do `accept()` with an interrupt or timeout is to call `select()` first, check if the socket is ready, and then call `accept()` knowing there's a connection to accept.  You could set things up so that one of the sockets passed to `select()` is something that a thread wanting to interrupt it could close or otherwise signal, separate from the socket you're actually trying to accept

[2018-03-28 15:37] thelordsaves opened #56 "Exception in thread "main" java.io.IOException: Protocol wrong type for socket"
I use jnr-unixsocket v0.18 under linux like this:
[code]

but get an exception:

[2018-03-29 02:25] thelordsaves commented on #56
the reason is my server's socket type is SOCK_DGRAM but not SOCK_STREAM, after changing the socket type to SOCK_STREAM, this problem is solved.

[2018-03-29 02:25] #56 closed

[2018-05-10 08:34] thelordsaves commented on #53
You are using blocking I/O, that's how it works.

[2018-05-10 08:51] thelordsaves commented on #48
will this lead to memory leak issues？
I use jnr-unixsocket as my java process IPC lib with other processes, I foud the off-heap memory consumption is very high, but I didn't allocate any direct buffer in my java code.

[2018-05-16 16:17] #50 closed

[2018-06-20 15:50] swankjesse commented on #5
Worth taking this a few steps further, and implementing the TCP interfaces of SocketFactory, ServerSocket, and ServerSocketFactory?

I’ve got the basics here:
https://github.com/square/okhttp/blob/master/samples/unixdomainsockets/src/main/java/okhttp3/unixdomainsockets/UnixDomainServerSocketFactory.java

[2018-08-04 08:48] huntc opened #57 "Why do native reads that return 0 bytes read, return -1?"
I noticed that when reading from a Unix socket, if the return value of a native `read` call is `0` then it is returned to the caller as `-1`. Relevant code:

https://github.com/jnr/jnr-unixsocket/blob/master/src/main/java/jnr/enxio/channels/Common.java#L59

I'm left curious as to why particularly given that I'm having a problem with half-closing Unix sockets. My understanding is that a native `rea

[2018-08-06 21:29] huntc commented on #57
Not to worry. I’d forgotten that the Unix read returns 0 on EOF where NIO’s read returns -1. Hence the translation.

[2018-08-06 21:29] #57 closed

[2018-09-04 11:53] JulianSchuette opened #58 "Duplicate package export: jnr.enxio.channels"
In its MANIFST.MF, `jnr-unixsocket` exports package `jnr.enxio.channels`. However, the same package is exported by its dependency bundle `jnr-enxio. `
This results in ClassNotFoundExceptions in OSGi environments because the class loader will bind exclusively to one bundle and thus fail to load classes from the other bundle. See section 3.6.6 in the OSGi spec [1], for instance.

A clean fix would b

[2018-09-23 04:49] charleskorn opened #60 "Calling close on a UnixSocket with a pending read waits for the read to time out on Linux"
If you create a `UnixSocket`, set a read timeout and then:

* call `read()` on one thread
* wait a bit and then call `close()` on another thread

...the behaviour is different on OS X and Linux.

On OS X, the read is cancelled as soon as `close()` is called and so `close()` returns immediately. On Linux, the read blocks until the read timeout is reached, and then `close()` returns.

This makes int

[2018-09-23 05:04] charleskorn commented on #60
I don't know much about sockets programming, but reading https://www.systutorials.com/docs/linux/man/2-close/ suggests that calling `shutdown` on the socket before calling `close` is the correct behaviour. Calling `shutdownInput()` and `shutdownOutput()` in `AbstractNativeSocketChannel.implCloseSelectableChannel()` fixes this.

[2018-10-08 09:31] guenhter commented on #58
Also happens for Java 9:

[code]

Looking forward to see this fixed.

[2018-10-22 09:44] sbordet opened #61 "Provide JPMS module name"
Would be great if a stable JPMS module name can be provided, as simply as adding `Automatic-Module-Name` to the manifest in the jar.

This will allow projects that are moving to proper JPMS modules to reference a stable JPMS name for `jnr-unixsocket` in their `module-info.java`.

I would suggest to not use `com.github` as prefix, but perhaps just `org.jnr`, but it's ultimately your choice.

Thanks

[2018-10-22 13:41] sbordet commented on #61
Also, `jnr-unisocket` has a split package with `jnr-enxio`: `jnr.enxio.channels`.

This makes impossible to use `jnr-unixsocket` as JPMS module, even adding the `Automatic-Module-Name` entry.

[2018-11-22 09:14] gregw commented on #52
I think this is a duplicate of #21. I proposed a fix in #25, but that is now stale and needs to be freshened up to be ready for a merge.

[2019-01-10 01:49] headius commented on #58
This definitely needs to be fixed. I don't think there's any reason it needs to use the enxio package.

[2019-01-12 22:31] swankjesse commented on #21
Fixed in https://github.com/jnr/jnr-unixsocket/pull/65

[2019-02-11 17:35] headius commented on #60
@charleskorn Can you propose a PR to fix this?

[2019-02-11 17:45] headius commented on #58
Ok, part of the problem is that it used this package to gain access to the package-private `Native` class from jnr-enxio. For simpliciy, I'm just going to make a release of enxio with that class public, since all it really does is bind some libc IO functions. Obviously the right fix (hopefully someone can assist) would be to make jnr-unixsocket just use jnr-enxio or jnr-posix to handle the actual

[2019-02-11 18:09] #58 closed

[2019-02-11 18:10] headius commented on #61
Fixed along with #58.

[2019-02-11 18:10] #61 closed

[2019-02-14 09:27] charleskorn commented on #60
Done - #68.

[2019-03-19 15:52] sbordet opened #69 "Gather writes are broken"
The implementation of `Common.write(ByteBuffer[] srcs, int offset, int length)` is faulty in case the channel is set in non-blocking mode.

When in non-blocking mode, there is no guarantee that the `write()` actually writes any byte, so the loop over the buffers must exit as soon as the write is incomplete.

[2019-03-19 16:07] sbordet commented on #69
See PR #70.

[2019-03-19 16:09] sbordet commented on #69
Also, PR #40 had similar changes, part of which have been included, but not those for gather writes.

I guess #40 can be closed in favor of #70?

[2019-05-29 13:42] gcrova opened #71 "Support for System Z (s390x)"
Hi,

Is there any plan to support Z linux architecture ?
Such support would help us to use the fabric.io Docker maven plugin (See https://github.com/fabric8io/docker-maven-plugin/issues/1213 )

Thanks

[2019-06-05 15:49] iikirilov opened #72 "Licence conflict"
**Expected:**

`jnr-unixsocket` and all of its dependencies should have compatible licenses.

**Actual:**

`jnr-unixsocket` is Apache 2 license but it depends on `jnr-posix` which is GPL. These are not compatible.

**Reason:**

The web3j library depends on this project.

[2019-06-05 16:17] sarxos commented on #72
I'm not involved in this project but still I will add my few cents. I see that the `jnr-posix` is actually released under three license, namely EPL, GPL and LGPL. The GPL may be Apache 2 incompatible, but what with the other ones, the EPL and LGPL, respectively?

[2019-06-06 07:49] iikirilov commented on #72
They are all incompatible. They are all `copyleft` which means if your project depends on GPL licensed code then it (your project) must also be GPL.

[2019-06-06 08:43] sarxos commented on #72
But you choose the license you want to use, correct? So why not choose e.g. EPL instead of GPL if there is such an option given by creators of `jnr-posix`? I always thought it's possible when creators offers different licenses to choose from.

[2019-06-06 08:59] iikirilov commented on #72
EPL, GPL and LGPL are all copyleft.

Apache, MIT and Creative Commons are not.

Also, I am not a legal expert.

[2019-06-06 09:41] iikirilov commented on #72
This is a workaround for anyone interested.

[code]

[2019-06-06 09:55] sarxos commented on #72
Just FYI, this is what I found on [EPL web page](https://resources.whitesourcesoftware.com/blog-whitesource/top-10-eclipse-public-license-questions-answered):

And:

And:

Therefore it should be ok to use EPL as a license for `jnr-posix` and have other project licensed under Apache 2 as long as you don't modify `jnr-posix` itself (you use it the original form, i.e. as JAR downloaded from Maven rep

[2019-06-06 10:26] iikirilov commented on #72
You are right. Thanks for clarifying this.

I am currently using [license-gradle-plugin](https://github.com/hierynomus/license-gradle-plugin) and I see it is picking up all 3 licenses for `jnr-posix`. I will get in touch with them to see if it is configurable.

Cheers!

[2019-06-06 10:26] #72 closed

[2019-06-21 09:29] domstorey commented on #71
We have successfully built the jffi native jar in our team and have used this package successfully for s390 zLinux... very straightforward build

wget https://github.com/jnr/jffi/archive/master.zip \
 && unzip master.zip && cd jffi-master && ant

The native jffi jar is then in the build `jffi-master/build` directory and the specific s390 native `.so` here: `jffi-master/build/jni/libjffi-1.2.so`

[2019-07-04 14:49] gcrova commented on #71
Hi,
Thanks, I commented the issue (see link above). I hope they will be able to take this.

[2019-08-01 10:20] rashmi-sakhalkar opened #74 "Support for ppc64le"
I am using jnr-unixsocket version: 0.22
 jnr-ffi', version: '2.1.5'.

when i run my project on ppc64le environment I get an error for unsupported architecture.

Error:-
Unhandled architecture/OS: ppc64le-Linux
	at org.newsclub.net.unix.NarSystem.getAOLs(NarSystem.java:110)

Can you please point me to the appropriate versions.

[2019-08-01 18:15] headius commented on #74
The latest jnr-ffi is 2.1.10, which depends on jffi 1.2.19, which *should* work on ppcle Linux. Can you check if that one works?

[2019-08-01 18:16] headius commented on #74
jnr-unixsocket 0.23 depends on jnr-ffi 2.1.10...

[2019-08-02 04:22] rashmi-sakhalkar commented on #74
group: 'com.github.jnr', name: 'jnr-unixsocket', version: '0.23'
group: 'com.github.jnr', name: 'jnr-ffi', version: '2.1.10'
group: 'com.github.jnr', name: 'jffi', version: '1.2.19'

I updated the version values as shown above but I still get the same error.

Error during callback
java.lang.ExceptionInInitializerError
	at org.newsclub.net.unix.AFUNIXSocket.<init>(AFUNIXSocket.java:36)
	at org.news

[2019-09-26 01:38] ckreiling commented on #44
@brettwooldridge any updates on this? Very interested in the change

[2019-09-26 01:39] ckreiling commented on #44
Mostly I'm interested in setting the SockType to `SOCK_SEQPACKET` instead of the current default, `SOCK_STREAM`

[2019-09-26 01:51] ckreiling opened #76 "Allow Setting Socket Type on Creation"
Currently the default Unix Socket Type is set to `SOCKET_STREAM`. I have a use case for `SOCKET_SEQPACKET`, but unfortunately have to edit the source code myself in order to achieve this.

Is there perhaps a chance that the static `connect` functions could be overloaded for the socket type to be passed as an option?

[2019-10-31 16:15] nvatvani opened #77 "jnr-unixsocket v0.23 and above forces osgi.ee;filter:="(&(osgi.e e=JavaSE)(version=9.0))""
When using JDK1.8, jnr-unixsocket v0.22 and below correctly sets osgi.ee;filter:="(&(osgi.e  e=JavaSE)(version=1.8))" but v0.23 and above forces osgi.ee;filter:="(&(osgi.e  e=JavaSE)(version=9.0))".

Given that JDK1.8 is still supported, can jnr-unixsocket v0.25-SNAPSHOT have its dependencies adjusted so that osgi.ee;filter:="(&(osgi.e  e=JavaSE)(version=1.8))" persists and one is not forced to up

[2019-11-01 18:47] CrazyminerMC opened #78 "Read response from server, Unix Datagram socket"
I'm using this lib to interact with hostapd through a unix datagram socket, the problem is that when I send a request to the server the server doesn't respond me and throw the error `Transport endpoint is not connected` on sendto function, if UnixDatagramChannel is in blocking mode when calling `receive` the code wait for something that doesn't come, if in non-blocking mode return 0

[2019-11-02 10:50] CrazyminerMC commented on #78
Resolved binding the socket to a local address so the server can respond because have the client address

[2019-11-02 10:50] #78 closed

[2019-11-12 03:02] rm5248 opened #79 "Implement sendmsg to pass control messages"
I'm attempting to pass a file descriptor between two applications via [dbus-java](https://github.com/hypfvieh/dbus-java/), but since this is not currently implemented correctly it seems as though I need to add support to jnr-unixsocket in order to properly pass the file descriptors between the processes.  What's the best way to extend the classes in order to accomplish this task?  It seems like th

[2019-11-19 02:14] rm5248 commented on #79
This is actually already implemented as part of jnr-posix.  Closing.

[2019-11-19 02:14] #79 closed

[2019-11-21 03:00] #21 closed

[2019-12-02 14:41] selckin commented on #60
This also fixes an issue with docker-maven-plugin for me see https://github.com/fabric8io/docker-maven-plugin/issues/552

[2020-01-09 16:09] #69 closed

[2020-01-09 16:12] #60 closed

[2020-01-09 16:18] headius commented on #77
Hmm...so how do I fix this?

[2020-01-09 16:21] headius commented on #76
Perhaps you could put together a PR like this one?

https://github.com/jnr/jnr-unixsocket/pull/46

Someone else also wanted to expose the socket API in #45 (fixing #44) but since this isn't a general-purpose BSD socket library I'd prefer to do that as a separate jnr project (jnr-socket, for example). This project would then depend on that one.

If you would like to help on either of these items, l

[2020-01-09 16:22] headius commented on #74
That doesn't look like our error...I don't see that text anywhere in the JNR-projects.

[2020-01-09 16:22] #74 closed

[2020-01-09 16:24] headius commented on #44
I'd like to do this as a separate jnr-socket project, rather than have jnr-unixsocket start becoming a general purpose BSD Socket API library. Anyone want to assist?

[2020-01-09 16:25] #44 closed

[2020-01-10 15:27] nvatvani commented on #77
You hack it by specifying <_noee>true</_noee> under <instruction> tag of the maven-bundle-plugin

The _noee tag removes all minimum versioning enforcement of the runtime JRE.

[2020-01-10 16:27] headius commented on #77
Ok I tried this patch but I did not see any difference in the MANIFEST. I also did not see any `Require-Capability` in the MANIFEST before I made the change, so I'm confused about how to proceed.

[code]

Unpatched MANIFEST.MF:
[code]

[2020-01-27 19:55] sada-sigsci opened #81 "After channel close, read and write calls were using recycled file descriptor"
After closing the socket from a different thread, channel write call was successful and writing to a recycled file descriptor belonged to a different connection. Here is the example tested on Linux. I couldn't reproduce the problem with TCP sockets.

[code]
Listen on different sockets

`nc -Ul /tmp/j1.sock`
`nc -Ul /tmp/j2.sock`

[2020-02-12 15:57] headius commented on #81
Hmm... so either we or the native IO subsystem is reusing the file descriptor and when we close it we're not properly killing the channel. Seems like marking the channel as closed would work here, right?

[2020-02-12 16:07] headius commented on #81
Looks like we are not mimicking the SocketChannelImpl logic for checking openness on read and write. They have a number of places where they `ensureOpen()` and reads and writes check whether input or output have been shut down by looking at a flag. UnixSocketChannel appears to have none of this.

Easy one for someone to contribute... just look at how SocketChannelImpl (in the JDK) handles these op

[2020-03-15 04:15] zonkhead opened #82 "UnixServer example doesn't work on Mac with either nc or socat"
I'm trying to make a server using the UnixServer example as a starting point. On my Mac, when I send more than two buffers worth to it, it just hangs and no longer reads more data.  Here are two example commands that should work (and *do* work on Linux).

`➜  ~ cat .emacs | socat UNIX-CONNECT:/tmp/fubar.sock -`
`➜  ~ cat .emacs | nc -U /tmp/fubar.sock`

All I'm doing is running the UnixServer clas

[2020-03-17 19:16] headius commented on #82
Hmm ok seems like a problem with the UNIX socket subsystem... but only on Darwin?

Can you make a simple script or test that shows the problem?

[2020-03-18 16:31] zonkhead commented on #82
You already have it. Your UnixServer class.  Invoke it with the script lines above.

[2020-03-18 18:39] headius commented on #82
Ah I understand now. Will investigate.

[2020-03-18 19:09] headius commented on #82
I did not have a `socat` command on my MacOS machine, so I assume you installed that separately.

With `socat` (from homebrew) it appears to write 1024 bytes and then hang here:

[code]

I don't see why it hangs here, but I did notice that `socat` sends data in 8196-byte chunks by default. If I change that to 1024-byte blocks, it gets further... 8 blocks successfully transit the server, and then t

[2020-03-18 19:30] headius commented on #82
Suspecting this might be an interaction between jnr-unixsocket and socat I thought I'd play with the UnixClient we also have in examples.

With only 9 bytes written, it works fine.

If I modify it to send 9000 bytes, with a loop to read everything using the same 1024-byte buffer, it gets stuck after two 1024-byte buffers have been filled.

At that point, the server is in the same place it is for `

[2020-03-18 19:43] headius commented on #82
Ok I think I have some answers. I'm not sure it's a bug, but it's an explanation of what we're seeing here.

Because the UnixClient seemed to also hang in a read, I suspected that the server was only seeing a partial view of the content. I modified the ServerActor to not just read 1024 bytes, but to read as many bytes as it can before getting a "0" return value.

The result is that the server succ

[2020-03-18 21:01] headius commented on #82
With the UnixServer working properly now on Darwin, I'm going to close this issue.

From discussions and articles online, it appears this may be just one of the "quirks" of using poll across platforms. It does not appear that additional POLL_IN events get triggered for unread data that happens to be lying around in a kernel buffer, so code that responds to a READ select should attempt to read as m

[2020-03-18 21:01] #82 closed

[2020-04-12 06:59] Wenenen opened #83 "java.lang.UnsatisfiedLinkError: ÕҲ »µ½ ָ¶¨µ"
When I run the UnixServer sample on windows, it reports java.lang.UnsatisfiedLinkError: ÕҲ »µ½ ָ¶¨µ error.
The path of the UnixServer sample is jnr-unixsocket/src/test/java/jnr/unixsocket/example/UnixServer.java
Exception in thread "main" java.lang.UnsatisfiedLinkError: ÕҲ»µ½ָ¶¨µ
	at jnr.ffi.provider.jffi.AsmRuntime.newUnsatisifiedLinkError(AsmRuntime.java:40)
	at jnr.unixsocket.Native$LibC$jnr$ff

[2020-04-13 15:55] headius commented on #83
I would not expect this library to work at all on Windows since there's no unix socket support there. The error is pretty weird but even without that it wouldn't work anyway.

[2020-04-13 16:49] headius commented on #83
So I think the only thing to do here would be to make the error more explicit about not working on Windows. Despite the odd error, this is failing to locate the "socket" function. I will look into improving that error and also making jnr-unixsocket report that it can't run on Windows.

[2020-04-13 16:56] headius commented on #83
If you get a chance, can you run this passing `-Djnr.ffi.asm.enabled=false` to the JVM? It would get me a better stack trace. I don't have Windows handy at the moment.

[2020-04-13 20:12] headius commented on #83
Thank you @enebo for providing the longer trace I requested above:

[code]

On that system it appears that the encoding of the string is correct, but I do not see your original error in the issue report. What code page or encoding do you have configured on Windows? I suspect it's a multi-byte encoding that's getting mangled in our error message here.

In any case, there's only two things to fix:

[2020-04-13 20:39] Wenenen commented on #83
Thank you very much for replying to this question. I have just learned that windows does not support unix domain socket. I want to run unix domain socket on windows mainly because my development environment is windows, but my running environment is linux, so I am switching the development environment to a linux server, hoping to run normally there.

[2020-04-13 20:39] Wenenen commented on #83
Thank you very much for replying to this question. I have just learned that windows does not support unix domain socket. I want to run unix domain socket on windows mainly because my development environment is windows, but my running environment is linux, so I am switching the development environment to a linux server, hoping to run normally there.

[2020-04-13 20:40] #83 closed

[2020-04-13 22:40] headius commented on #83
@Wenenen Good luck!

[2020-04-22 11:58] headius commented on #82
Releasing today in 0.29.

[2020-05-17 15:30] mpuncel opened #84 "Null PollSelectionKey attachment causes IllegalStateException in jetty"
Apologies if the description is inaccurate.

We use unix sockets with Jetty, which are powered by jnr-unixsocket. I filed an issue on the jetty project about seeing hundreds of exceptions related to a single connection (https://github.com/eclipse/jetty.project/issues/4865)

It seems that the maintainers think there is an issue in jnr-unixsocket that is causing the UnixSocketEndPoint attachment to

[2020-08-04 14:51] headius commented on #5
I believe this was resolved in https://github.com/jnr/jnr-unixsocket/pull/35 and released in 0.15.

If there's additional work to be done let's open a new issue (this one is quite old) and we can discuss there.

[2020-08-04 14:51] #5 closed

[2020-08-10 12:39] sambhavk opened #85 "Support for AIX v7.2 64-bit"
Facing the following exception when executed the jar file in AIX machine having IBM java 8 using jnr v0.33 -

jnr.ffi.provider.jffi.NativeRuntime buildNativeTypeAliases
SEVERE: failed to load type aliases: java.lang.ClassNotFoundException: jnr.ffi.provider.jffi.platform                                                                                        .ppc64.aix.TypeAliases
Exception in thread

[2020-08-12 16:28] #85 closed

[2020-08-17 08:40] lorna1 opened #86 "Found interface org.objectweb.asm.ClassVisitor, but class was expected"
Caused by: java.lang.IncompatibleClassChangeError: Found interface org.objectweb.asm.ClassVisitor, but class was expected
	at jnr.ffi.provider.jffi.AsmLibraryLoader.generateInterfaceImpl(AsmLibraryLoader.java:101)
	at jnr.ffi.provider.jffi.AsmLibraryLoader.loadLibrary(AsmLibraryLoader.java:86)
	at jnr.ffi.provider.jffi.NativeLibraryLoader.loadLibrary(NativeLibraryLoader.java:44)
	at jnr.ffi.Librar

[2020-08-17 08:40] lorna1 commented on #86
asm:asm.jar 3.1
ow2.asm 7.1

[2020-09-01 17:03] headius commented on #86
This would be an incompatibility in https://github.com/jnr/jnr-ffi with the very old ASM version you are using. You will want those versions to match and be more recent.

[2020-09-01 17:03] #86 closed

[2020-09-01 17:07] headius commented on #84
@mpuncel I wonder if jetty is attempting to use a JDK-provided selector with one of our channels? The selector used for the unix socket should come from jnr-enxio, and not use the system-level provider since it doesn't know about the internals of the jnr-enxio slectors.

Is there any way you can provide a small repository that reproduces this? Ideally something that drives jnr-unixsocket *alone* (

[2020-09-01 17:45] headius opened #87 "Smoke test fails sporadically on MacOS"
Sometimes this smoke test fails, annoyingly often when I go to release.

Expected:

[code]

Actual:

[code]

Probably should look into why this happens. Re-running usually works.

[2020-09-26 12:54] judovana opened #88 "on ppc64le credentials are wrongly parsed/obtained"
Hello!

When running on ppc64le,  the test  https://github.com/jnr/jnr-unixsocket/blob/0e180ee0d97ea5d3bd32e5350a9e4700a8becc58/src/test/java/jnr/unixsocket/CredentialsFunctionalTest.java#L79  fails correctly, expecting pid, but getting 1.
If the test would continue,  it would fail anyway, as all three  pid, uid and gid are parsed wrongly during credential initialisation

linux x linux
myPid: 4217

[2020-09-26 13:29] judovana commented on #88
Hmm, the aliases in ffi
are weird:

uid/gid:
uint32
uint
6

but pid:
sint32
sint
5

[2020-09-29 17:02] headius commented on #88
I would also suspect we are not handling endianness correctly.

I do not currently have a way to test on ppc64le but I will try to help as best I can!

[2020-09-30 09:32] judovana commented on #88
The only trace on ppc x endians I found was: https://github.com/jnr/jnr-ffi/blob/05cbacc8528e85b1dbff30be5b88cde4c6a9c6a7/src/main/java/jnr/ffi/Platform.java#L221
However if that would be wrong, the jff would be dead, isnt it? Or maybe this is not followed just  unix-socket?

Tahnx!

[2020-11-18 20:14] wolfchimneyrock opened #91 "Solaris can't set socket options"
Hi, I have encountered an issue on Solaris 5.11 on SPARC-T5 machines using Java(TM) SE Runtime Environment (build 1.8.0_172-b11)
.  I get this exception:

[code]
when I try to change a socket option such as timeout.  code works fine otherwise on Linux-amd64 and AIX-POWER.

The default socket timeout is a ridiculously long time.  Is there any way to change it?

[2020-11-20 19:44] headius commented on #91
It seems like we may be using a bad value for one of the parameters to setsockopt within this code:

https://github.com/jnr/jnr-unixsocket/blob/fe79d02b5b4cc59aee5d89515b6bbe54fc6dd25d/src/main/java/jnr/unixsocket/Common.java#L147-L149

The UnixSocketOption value for `SO_RCVTIMEO` used for the `setSoTimeout` is mapped to a value from [jnr-constants](https://github.com/jnr/jnr-constants) at this li

[2020-11-20 20:20] wolfchimneyrock commented on #91
the constants are the same on my `sys/socket.h` as in your `jnr-constants` package:

[code]

[2020-11-20 20:27] wolfchimneyrock commented on #91
the workaround I have done that works is to switch to non-blocking on the client channel, it is a little more complicated to use but it allows the timeout to be used in the `select()` call.

Unfortunately we can't give out shell access.  Though I would be happy to do an attempt at `setsockopt()` using reflection

[2020-11-20 21:01] wolfchimneyrock commented on #91
When I run the following:
[code]

on linux/amd64: `setsockopt result = 0`
on AIX/power9:  `setsockopt result = 0`
on Solaris 11.3/sparc: `setsockopt result = -1`

Can you walk me through how I could make custom values of the `SocketLevel` and `SocketOption` ?

[2020-11-20 21:26] headius commented on #91
Perhaps the mismatch is in SocketLevel?

https://github.com/jnr/jnr-constants/blob/master/src/main/java/jnr/constants/platform/solaris/SocketLevel.java

It seems that the setsockopt function is being called, but we are getting this error. Another thing you could investigate would be to add code to your println to check the errno value. I suspect it will be EINVAL, though.

[code]

(untested code b

[2020-11-20 21:36] wolfchimneyrock commented on #91
`errno = 99`  => `ENOPROTOOPT`

[2020-11-20 23:53] wolfchimneyrock commented on #91
If I do the same thing but set `SO_RCVBUF` it works fine

[2020-11-21 00:01] wolfchimneyrock commented on #91
I notice the man page for `setsockopt` on Solaris 11.3 doesn't mention `SO_RCVTIMEO`:
https://docs.oracle.com/cd/E86824_01/html/E54774/setsockopt-3socket.html#scrolltoc

whereas the man page for `setsockopt` on Solaris 11.4 does mention it:
https://docs.oracle.com/cd/E88353_01/html/E37843/setsockopt-3c.html#scrolltoc

[2020-11-21 00:09] headius commented on #91
So then it is possible this socket option is simply not supported? Maybe there is a different option that has a similar effect?

[2020-11-21 00:11] wolfchimneyrock commented on #91
yeah I think thats the case - can't set a timeout for blocking socket read.  Like I said earlier, the work around is to make the channel non-blocking and use a Selector.

[2020-11-21 00:15] headius commented on #91
Okay, that is a non-trivial workaround but I'm glad you have something to go forward with. If you are able to determine that there is some other way we can adjust this timeout on earlier versions of solaris, please open a new issue. I will close this issue since there's not much we can do at the moment.

[2020-11-21 00:15] #91 closed

[2020-12-12 07:06] faucct opened #92 "UnixServerSocketChannel extending java.nio.channels.ServerSocketChannel"
I can be naive, but this looks like a reasonable thing to do. Can anyone explain why wasn't this done?
At the moment this cannot be done because of two reasons:
* `UnixServerSocketChannel` extends `NativeServerSocketChannel`, while `NativeServerSocketChannel` cannot extend `ServerSocketChannel`, because it does not bind to sockets but descriptors. Could `UnixServerSocketChannel` extend `ServerSock

[2021-01-18 08:01] peacand opened #93 "No exception while using PrintWriter and outputstream"
Hi,

When I use a wrapper PrintWriter over a UnixSocketChannel OutputStream, no exception is raised when I try to println(String) on the PrintWriter object while the socket is actually remotely closed.

To reproduce the issue, you need a simple client/server with a UnixSocketChanel.
Then a PrintWriter with :

`PrintWriter w = new PrintWriter(Channels.newOutputStream(channel));`

If you close the s

[2021-01-21 16:46] headius commented on #93
An exception would indeed be appropriate here. Can you put together an example test case that shows the problem? I think it would be fine to use jnr-unixsocket as both the client and server for such a test.

[2021-01-26 19:27] headius commented on #93
I notice that our logic for getting the OutputStream does check for connectedness:

https://github.com/jnr/jnr-unixsocket/blob/1650e1047c4baafa18ed5ecd7e44cc49033ff3fb/src/main/java/jnr/unixsocket/UnixSocket.java#L123-L130

That doesn't help raising errors when the connection gets closed while in use, though.

[2021-01-26 19:31] headius commented on #93
So this might be part of the problem:

https://github.com/jnr/jnr-unixsocket/blob/1650e1047c4baafa18ed5ecd7e44cc49033ff3fb/src/main/java/jnr/unixsocket/UnixSocketChannel.java#L157-L162

As you see here, we do not check the associate file descriptor to see if it is still connected, and instead assume that if our internal logic says we are connected, we are connected.

Checking the file descriptor f

[2021-01-26 20:28] peacand commented on #93
Thank you for your first analysis @headius. Unfortunately I cannot help you about the implementation, I'm not a Java guy 😊

I'm actually only talking about the client part, which looks like in my tests :

[code]

The server part can be anything. I've tested with a Python code but it can be any server listening on Unix socket and replying to messages on that socket. You can even mock a simple serve

[2021-01-29 19:17] headius commented on #93
Thank you for the example! This should be sufficient for me to reproduce the problem locally.

[2021-01-29 20:02] headius commented on #93
Findings from debugging the example client.

* Confirmed that no errors are raised and it keeps reading and writing nothing without errors.
* When blocked on read and the server is closed, the native read call returns 0. This is interpreted as EOF and returned into the Java classes as -1, the Java indicator of EOF. A -1 here would indicate an error, but apparently the server going away during a bl

[2021-01-29 20:05] headius commented on #93
Actually there may be one thing we can do better here: close the channel when we get an EPIPE from read or write.

I tried to find some evidence of this in the JDK classes, like SocketChannelImpl, but the logic is rather tangled. There are checks to see if the last operation completed successfully, but they don't appear to change the open/closed status of the channel.

Regardless, I think you woul

[2021-03-08 17:38] headius commented on #93
Still not sure the best way to handle this. Even the Java classes seem to trip a bit over closed pipes and sockets.

I was playing with this patch, perhaps it gets us close enough to handling this?

[code]

[2021-07-23 19:00] odmbuild commented on #71
Hi,

Is there any plan to support Z linux architecture this year ?

Thanks
Regards
Gael

[2021-07-23 19:01] gaelcrova commented on #71
Hi,

Is there any plan to support Z linux architecture this year ?

Thanks
Regards
Gael

[2021-07-23 19:38] headius commented on #71
@gaelcrova We would like to but without access to such a system it is difficult for us to make this happen. I am willing to work with you and other Z users!

[2021-08-23 02:48] tamanugi opened #95 "Support for M1 Mac?"
Hi, Thanks for awesome library ✨

I  facing issue when use [docker-maven-plugin](https://github.com/fabric8io/docker-maven-plugin).

[code]

https://github.com/fabric8io/docker-maven-plugin/issues/1257#issuecomment-793558336

Questions
- is jnr-unixsocket  support for M1 Mac?
- if not support, any plan support ?

[2021-09-01 07:47] headius commented on #95
@tamanugi The M1 bit would largely be within https://github.com/jnr/jffi, which has preliminary support for M1 already. The main thing missing is support for varargs, which requires some native changes to how we set up the argument list (https://github.com/jnr/jffi/issues/105).

So, it may work today, since I don't think we use any varargs calls in jnr-unixsocket!

[2021-09-01 09:22] headius commented on #93
This did not happen in 0.39.9 due to other priorities.

[2021-09-01 09:24] headius opened #96 "UnixClient fails sporadically on Darwin"
The example `UnixClient` appears to fail sporadically on Darwin. This frequently happens during release builds, but exactly once followed by a success. It could be a simple filesystem cleanup issue.

https://github.com/jnr/jnr-unixsocket/blob/f61210a4aff96058dc7c0d4e003ef1e810679e4f/src/test/java/jnr/unixsocket/example/UnixClient.java#L46

[code]

[2021-09-01 09:25] headius commented on #96
Note this is not to be confused with the example `UnixClient` in #93.

[2021-10-26 20:57] headius opened #98 "Datagram support"
Need it. Not sure how closely to integrate with Java's datagram support, but such integration may require us to finally align our socket classes with Java's.

[2022-01-16 18:02] speechkey commented on #95
https://github.com/jnr/jffi/issues/105 looks like to be fixed now

[2022-01-17 01:04] tamanugi commented on #95
@speechkey @headius

latest version docker-maven-plugin works as expected 🎉🎉🎉🎉🎉
Thanks😍

[2022-01-17 01:04] #95 closed